<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")'
                    href="https://github.com/chhibber02/" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")'
                    href="https://www.linkedin.com/in/abhay-pratap-chhibber-944a80234" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")'
                href="mailto:abhaypratapchhibber@gmail.com" target='_blank'>abhaypratapchhibber@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a (click)='analyticsService.sendAnalyticEvent("click_github_portfolio_hemant", "footer", "click")'
            href="https://github.com/chhibber02/chhibber02.github.io" target="_blank"
            rel="nofollow noopener noreferrer">
            <div title="Copyright"><i class="fa fa-copyright"></i> Built with Angular by Hemant Sachdeva</div>
        </a>

        <div class="mt-2" title="Copyright">
            <a (click)='analyticsService.sendAnalyticEvent("click_github_andresjose", "footer", "click")'
                href="https://github.com/andresjosehr" target="_blank" rel="nofollow noopener noreferrer">
                <i class="fa fa-copyright"></i> Forked from Jose Andres
            </a> &amp;
            <a (click)='analyticsService.sendAnalyticEvent("click_github_brittany", "footer", "click")'
                href="https://github.com/bchiang7" target="_blank" rel="nofollow noopener noreferrer">
                Designed by Brittany Chiang
            </a>
        </div>
    </div>

</footer>